

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <% provide(:title, 'Edit user') %>
    <h1 align="center">Update your profile</h1>

    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <h5><p><%= f.label :name %></p></h5>
        <%= f.text_field :name, class: 'form-control' %>

        <h5><p><%= f.label :email %></p></h5>
        <%= f.email_field :email, class: 'form-control' %>

        <h5><p><%= f.label :password %></p></h5>
        <%= f.password_field :password, class: 'form-control' %>

        <h5><p><%= f.label :password_confirmation, 'Confirmation' %></p></h5>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit 'Save changes', class: 'btn btn-success' %>
    <% end %>
    </br>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <h5><p><a href="http://gravatar.com/emails" target=_blank>Change logo</a></p></h5>
    </div>
  </div>
</div>
